/* --------------
Font Link
---------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* --------------
Common style part
---------------- */
body {
    margin: px 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background: #FF900E;
    margin-top: 16px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

/* --------------
  Header Part
---------------- */

.header {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 1250px;

}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.logo {
    color: #131313;
    font-weight: 700;
    font-size: 30px;
    margin-left: -250px;
}

.nav-menu {
    display: flex;
    gap: 30px;
    margin-right: -250px;

}

.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.header-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-banner h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    width: 40%;
    margin: 10px;
}

.header-banner p {
    font-weight: 400;
    font-size: 16px;

    width: 50%;
}

.header-banner a {}

.header-banner img {
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    margin-top: 50px;
}

/* --------------
Team style part
---------------- */

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 100px 310px;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: right;
    padding-right: 70px;

}

.team-members img {
    width: 342px;
    height: 342px;
    border-radius: 8px;
    padding: px;
}

.team-articles {
    padding-top: 187px;
}

.team-articles h1 {
    font-weight: 500;
    font-size: 45px;
    width: 468px;
    margin: 24px 0px;
}

.team-articles p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 42px;
}


/* --------------
Features style part
---------------- */

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 200px;

}

.features-content {
    width: 586px;
    height: 982px;
    margin-left: 240px;
    z-index: 2;
}

.features-content-header h1 {
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}

.feature-card {
    width: 550px;
    height: 171px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 25px;
    border-radius: 8px;

}

.feature-card h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.feature-img img {
    width: 708px;
    height: 982px;
    margin-left: 50px;
    z-index: 1;
}

.feature-btn {
    background-color: #FF900E;
    width: 210px;
    height: 100px;

    font-weight: 700;
    font-size: 45px;
    padding: 30px 20px 30px 30px;
    border-radius: 8px;
    text-align: center;
    margin: -300px 0px 0px 600px;
    z-index: 5;
}

.feature-btn a {
    text-decoration: none;
    color: white;
}

.exp-btn {
    font-weight: 300;
    font-size: 25px;

}

/* --------------
  some facts
  --------------- */
.some-facts {
    padding: 240px 240px;
    width: 542px;
    height: 52px;
    margin-bottom: 500px;
    
}

.some-facts-tile{
    padding-bottom: 50px;
}

.some-facts-tile h1{
    font-weight: 700;
font-size: 45px;
}

.fact-boxes{
    display: flex;
    gap: 120px;
}

.fact-boxes-content{
    padding: px 0px;
border: 1px solid #FF900E;
border-radius: 8px;
width:800px;
text-align: center;
padding: 50px 25px;

}


.fact-boxes-content:hover {
    padding: px 0px;

background-color: #ff8f0e46;
border-radius: 8px;
width:800px;
text-align: center;
padding: 50px 25px;


}
.fact-boxes-content img{
    width: 45.22px;
height: 45.22px;
padding: 5px;
margin: 0px;
}

.fact-boxes-content h1{
    font-weight: 600;
font-size: 45px;
width: 200px;
height: 53px;
text-align: center;
padding: 5px;
margin: 0px;
}

.fact-boxes-content p{
    font-weight: 500;
font-size: 20px;
width: 200px;
height: 23px;
padding:5px;
margin: 0px;
}

/* --------------
  sponsors
  --------------- */
