/* --------------
Font Link
---------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* --------------
Common style part
---------------- */
body {

    font-family: 'Work Sans', sans-serif;
}

.btn {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background: #FF900E;
    margin-top: 16px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.body-space {
    margin: 50px 200px 0px 100px;

}

/* --------------
  Header Part
---------------- */

.header {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 1250px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.logo {
    color: #131313;
    font-weight: 700;
    font-size: 30px;
    margin-left: -250px;
}

.nav-menu {
    display: flex;
    gap: 30px;
    margin-right: -250px;

}

.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.header-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-banner h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    width: 40%;
    margin: 10px;
}

.header-banner p {
    font-weight: 400;
    font-size: 16px;

    width: 50%;
}

.header-banner img {
    width: 1300px;
    height: 660px;
    border-radius: 8px;
    margin-top: 50px;
}

/* --------------
Team style part
---------------- */

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 100px 310px;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: right;
    padding-right: 70px;
}

.team-members img {
    width: 342px;
    height: 342px;
    border-radius: 8px;
    padding: px;
}

.team-articles {
    padding-top: 187px;
}

.team-articles h1 {
    font-weight: 500;
    font-size: 45px;
    width: 468px;
    margin: 24px 0px;
}

.team-articles p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 42px;
}


/* --------------
Features style part
---------------- */

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 200px;
    margin: 100px 50px 100px 150px;

}

.features-content {
    width: 600px;
    height: 982px;
    margin: 0px 0px 0px 241px;
    z-index: 2;
}

.features-content-header h1 {
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}

.feature-card {
    width: 550px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 5px 0px 5px 10px;
    border-radius: 8px;
    margin: 20px 20px;

}

.feature-card h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.feature-img img {
    width: 708px;
    height: 982px;
    z-index: 1;
}

.feature-btn {
    position: absolute;
    background-color: #FF900E;
    width: 210px;
    height: 100px;
    font-weight: 700;
    font-size: 45px;
    padding: 30px 20px 30px 30px;
    border-radius: 8px;
    text-align: center;
    margin: -170px 0px 0px 600px;
    z-index: 5;
}

.feature-btn a {
    text-decoration: none;
    color: white;
}

.exp-btn {
    font-weight: 300;
    font-size: 25px;
}

/* --------------
  some facts
  --------------- */

.some-facts {
    width: 100%;
    margin: 300px 0px 200px 0px;
}

.some-facts-tile {
    padding: 0px 0px 50px 335px;
}

.some-facts-tile h1 {
    font-weight: 700;
    font-size: 45px;
}

.fact-boxes {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.fact-boxes-content {
    padding: px 0px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    padding: 30px 0px;

}


.fact-boxes-content:hover {
    padding: px 0px;

    background-color: #ff8f0e46;
    border-radius: 8px;
    text-align: center;
    padding: 30px 0px;


}

.fact-boxes-content img {
    width: 45.22px;
    height: 45.22px;
    padding: 5px;
    margin: 0px;
}

.fact-boxes-content h1 {
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

.fact-boxes-content p {
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    margin: 0px;
}

/* --------------
  sponsors
  --------------- */

.sponsor-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sponsor-title h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin: 0px;
}

.sponsor-title p {

    width: 542px;
    height: 52px;

}

.sponsor-images {
    margin: 50px 50px;
    display: flex;
    justify-content: space-around;
}


/* --------------
  Contact
  --------------- */

.contact{
    text-align: center;
    margin: 2   00px 0px;
}

.contact h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin: 0px;
    text-decoration: none;
    
}
.contact a{
    text-decoration: none;
    color: #131313;
}

.contact a:hover {
    text-decoration: none;
    color: #ffffff;
}
.contact-info{
display: flex;
gap: 150px;
flex-direction: row;
justify-content: center;
padding-top: 60px;
}

.contact-info img{
    width: 52px;
}
.contact-box {
    border: 1px solid #FF900E;
    padding: 40px 80px;
    border-radius: 8px;
}

.contact-box:hover {
    border: 1px solid #FF900E;
    padding: 40px 80px;
    border-radius: 8px;
    color: white;
    background-color: #ff8f0e;
}


/* --------------
  footer
  --------------- */

.footer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 150px 0px;
}

.copyright {
    text-align: center;
    width: 1050px;
    height: 100px;

    font-weight: 400;
    font-size: 20px !important;
    line-height: 23px;
    background: #FFF4E7;
    border-radius: 8px;
}

.copyright p {
    margin-top: 35px;
}

.hidden {
    display: none;
}

/* ---------------------
  Mobile Responsive part
  ---------------------- */

@media screen and (max-width: 688px) {
    .body-space {
        margin: 50px 5px 0px 5px;

    }

    /* Header Part */

    .main-header {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: 100%;

    }

    .nav-menu {
        display: none;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    .logo {
        color: #131313;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        padding-left: 250px;


    }

    .header-banner h1 {
        font-weight: 700;
        font-size: 46px;
        line-height: 55px;
        width: 60%;
        margin: px;

    }

    .header-banner img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        margin-top: 47px;

    }

    /* Team section */


    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        width: 100%;
        height: 100%;

    }

    .team-members {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        width: 100%;
        align-items: center;
        padding: 0px;
    }

    .team-articles {
        padding: 187px 20px 100px 10px;

        height: 100%;
        text-align: center;
    }

    .team-articles h1 {
        text-align: center;
        padding-left: 100px;
    }

    /* Features Section */

    .features {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 14px;
        width: 542px;
        height: 2030px;
        align-items: center;
        justify-content: center;
        align-content: center;
        /* margin: 0px; */
        justify-items: center;
        padding: 0px;
    }

    .features-content {
        width: 550px;
        height: 100%;
        z-index: 2;
        padding-bottom: 100px;
    }

    .feature-img img {
        width: 550px;
        height: 650px;
        padding-top: 100px;
    }

    .feature-card {
        width: 300px;
        padding: 5px 5px;

    }

    .feature-btn {
        position: absolute;
        background-color: #FF900E;
        width: 210px;
        height: 100px;
        font-weight: 700;
        font-size: 45px;
        padding: 20px 30px 20px 20px;
        border-radius: 8px;
        text-align: center;
        margin: 50px;
        z-index: 5;
    }

    .features-content-header {
        width: 450px;
    }

    .features-content-header h1 {
        font-weight: 700;
        font-size: 33px;
        width: 350px;
        border-left: 5px solid #FF900E;
        padding-left: 20px;
    }

    .features-content-header p {
        width: 350px;
    }

    /* Facts */

    .some-facts-tile {
        padding: 0px 0px 50px 20px;
    }

    .fact-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        justify-content: center;
        padding: 0px 10px;
    }

    /* Sponsors */
    .sponsor-images {
        margin: 50px 50px;
        display: grid;
        grid-row-gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
    }
}